.main-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  max-width: 860px;
}

@import './reset.scss';
@import './typography.scss';
@import './components/hero.scss';
@import './components/navigation.scss';