/* Basic reset */

  html, body {
    height: 100%;
    font-family: sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
}


a {
    color: #95afdf;
}