.hero-wrapper {
    background-color: #f5f5f5;
    background: #0a0a2a;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(10,10,40,1) 35%, rgba(12,12,55,1) 100%);
    background: url('img/hero-bg.jpg') no-repeat center bottom/cover;
    min-height: 100px;

    .container {
        margin: auto;
        text-align: center;
    }

    .brand {
        margin: 0 auto;
        display: block;
    }
}

h2.hero-subtitle {
    font-size: 1.2em;
    margin-top: 0;
}

.container h1 {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .brand img {
        width: 100%;
    }
}