.hero-wrapper {
    background-color: #f5f5f5;
    padding: 20px;
    background: #0a0a2a;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(10,10,40,1) 35%, rgba(12,12,55,1) 100%);
    min-height: 100px;

    .container {
        margin: auto;
        text-align: center;
    }

    .brand {
        margin: 0 auto;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .brand img {
        width: 100%;
    }
}