.schedule-room {
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.schedule-room-items{
  display: grid;
  grid-template-rows: 
    [time-0915] 1fr
    [time-0930] 1fr
    [time-0945] 1fr
    [time-1000] 1fr
    [time-1015] 1fr
    [time-1030] 1fr
    [time-1045] 1fr
    [time-1100] 1fr
    [time-1115] 1fr
    [time-1130] 1fr
    [time-1145] 1fr
    [time-1200] 1fr
    [time-1215] 1fr
    [time-1230] 1fr
    [time-1245] 1fr
    [time-1300] 1fr
    [time-1315] 1fr
    [time-1330] 1fr
    [time-1345] 1fr
    [time-1400] 1fr
    [time-1415] 1fr
    [time-1430] 1fr
    [time-1445] 1fr
    [time-1500] 1fr
    [time-1515] 1fr
    [time-1530] 1fr
    [time-1545] 1fr
    [time-1600] 1fr
    [time-1615] 1fr
    [time-1630] 1fr
    [time-1645] 1fr
    [time-1700] 1fr;
}

.schedule-day {
  background-color: #272727;
  color: #ffffff;
  margin-bottom: 1rem;

  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.schedule-day .schedule-day-header {
  grid-column: 1 / 3;
  padding: 0 1rem;
}

.schedule-day .schedule-item {
  padding: 1rem;
  border: 1px solid rgba(0,0,0,.3);
  box-sizing: content-box;
  background: #333;
}

.schedule-room-header {
  background-color: #272727;
  color: #ffffff;
  padding: 0 1rem;
}

.schedule-item-speakers {
  margin-bottom: 1rem;
}

.schedule-item-speakers span {
  
}