.schedule-room {
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

body.schedule-as-grid .schedule-day .schedule-room-items{
  display: grid;
  grid-template-rows: 
    [time-0915] 10ch
    [time-0930] 10ch
    [time-0945] 10ch
    [time-1000] 10ch
    [time-1015] 10ch
    [time-1030] 10ch
    [time-1045] 10ch
    [time-1100] 10ch
    [time-1115] 10ch
    [time-1130] 10ch
    [time-1145] 10ch
    [time-1200] 10ch
    [time-1215] 10ch
    [time-1230] 10ch
    [time-1245] 10ch
    [time-1300] 10ch
    [time-1315] 10ch
    [time-1330] 10ch
    [time-1345] 10ch
    [time-1400] 10ch
    [time-1415] 10ch
    [time-1430] 10ch
    [time-1445] 10ch
    [time-1500] 10ch
    [time-1515] 10ch
    [time-1530] 10ch
    [time-1545] 10ch
    [time-1600] 10ch
    [time-1615] 10ch
    [time-1630] 10ch
    [time-1645] 10ch
    [time-1700] 10ch;
}


body.schedule-as-grid p.schedule-description {
  display: none;
}

.schedule-day {
  background-color: #272727;
  color: #ffffff;
  margin-bottom: 1rem;

  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.schedule-day .schedule-day-header {
  grid-column: 1 / 3;
  padding: 0 1rem;
}

.schedule-day .schedule-item {
  padding: 1rem;
  border: 1px solid rgba(0,0,0,.3);
  box-sizing: content-box;
  background: #333;
}

.schedule-room-header {
  background-color: #272727;
  color: #ffffff;
  padding: 0 1rem;
}

.schedule-item-speakers {
  margin-bottom: 1rem;
}

.schedule-item-speakers span {
  
}