:root,
:host {
    --pico-font-family-sans-serif: "Geist", sans-serif;
    --pico-font-family-monospace: "geist mono", monospace;
}


html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #1E1E1E 0%, #2E2E2E 50%, #1E1E1E 100%);
    background-attachment: fixed;
    min-height: 100vh;
}

body > .container {
    padding: 0;
}

body > .container > .content {
    background-color: #1B1B1B;
    min-height: 300px;
    position: relative;
}

.content-grid-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/grid.png), url(../images/grid.png);
    background-position: left -202px top -35px, right -200px top -35px;
    background-repeat: repeat-y, repeat-y;
    z-index: 5;
    display: block;
}

/* Section */
.section-title {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin: 1em;
    position: relative;
    z-index: 10;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 60px;
  }
}

/* CFP Section */
.cfp-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: var(--pico-font-family-monospace);
    font-size: 18px;
    gap: 2em;
    height: 4em;
    margin: 0;
}

.cfp-callout {
    line-height: 4em;
}

@media (max-width: 576px) {
    .cfp-callout {
        display: none;
    }
}

.cfp-button {
    color: #FFD02B;
    border: 1px solid #FFD02B;
    padding: 0.5em 1em;
    align-self: center;
    text-decoration: none;
}
.cfp-button:hover {
    background: #FFD02B;
    color: #000000;
}

/* Hero Section */
.hero-section {
    position: relative;
    height: 467px;
    margin: 0;
}

.hero-planet {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.hero-logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-logo > img {
    z-index: 10;
}

@media (max-width: 768px) {
    .hero-logo > img {
        padding: 0 7%;
    }
}
.hero-content {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 768px) {
    .hero-content {
        padding: 0 7%;
    }
}

.hero-tagline {
    color: #ffffff;
    font-size: 40px;
}

.hero-date {
    color: #FFD02B;
    margin-bottom: 50px;
    font-family: var(--pico-font-family-monospace);
    font-size: 18px;
}

/* Signup Section */
.signup-section {
    height: 180px;
    background: #000000;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(27, 27, 27, 0.4) 80%,
        rgba(27, 27, 27, 0) 100%
    );
    z-index: 5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-button {
    color: #FFFFFF;
    background-color: #711AFF;
    border: 1px solid #711AFF;
    padding: 0.5em 1em;
    align-self: center;
    text-decoration: none;
}

.signup-button:hover {
    /* background-color: transparent; */
    /* color: #711AFF; */
    border-color: #FFF;
}

/* Navigation Section */
.navigation-section {
    background-color: #000000;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    gap: 2em;
    height: 60px;
}

.navigation-section a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 2em;
    padding: 0;
    font-size: 16px;
    border-bottom: 1px solid #000;
}

@media (max-width: 768px) {
    .navigation-section a {
        margin: 0 0.2em;
    }
}

.navigation-section a:hover {
  border-bottom: 1px solid #FFF;
  border-radius: 0;
}

/* About Section */
.about-section {
    position: relative;
}

.about-bg {
  position: absolute;
  top: -3em;
  left: 0;
  width: 100%;
}

.about-bg img {
  width: 100%;
}

.about-content {
    font-size: 18px;
    text-align: justify;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em 19% 0 19%;
    gap: 4em;
    position: relative;
    z-index: 10;
}

@media (max-width: 768px) {
    .about-content {
      margin: 2em 7% 0 7%;
      flex-direction: column;
      gap: 0;
    }
}

.about-content > * {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.about-content a {
    display: contents;
    color: #ffd02b;
    text-decoration: none;
}

.about-grid {
    position: relative;
    z-index: 10;
    margin: 0 19%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

@media (max-width: 768px) {
    .about-grid {
        margin: 0 7%;
    }
}

.about-grid > div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 0 3em;
    margin-top: 1em;
    text-align: center;
}

@media (max-width: 768px) {
    .about-grid > div {
        padding: 0;
    }
}

.about-grid > div:last-child {
    grid-area: 4 / 1 / 3 / 3;
    width: 50%;
    place-self: center;
}

.about-grid h3 {
    font-family: var(--pico-font-family-monospace);
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 1em;
}


/* Location Section */
.location-section {
    position: relative;
    margin-top: 6em;
}

.location-bg {
  position: absolute;
  top: -9em;
  left: 0;
  width: 100%;
}

.location-bg img {
  width: 100%;
}

.location-content {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 32px;
}

.location-date {
    color: #ffd02b;
    font-family: var(--pico-font-family-monospace);
    margin: 0.5em;
}

.location-signup {
    font-size: 18px;
    margin-top: 4em;
}

/* Speakers Section */

.speakers-section {
    margin-top: -4em;
    padding-top: 4em;
    padding-bottom: 4em;
    position: relative;
    background: #000000;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.4) 5%,
        rgba(0, 0, 0, 1) 10%
    );
}

.speakers-grid {
    position: relative;
    z-index: 10;
    margin: 0 19%;

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
}

@media (max-width: 1024px) {
    .speakers-grid {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 768px) {
    .speakers-grid {
        grid-template-columns: 100%;
    }
}

.speakers-grid > div {
    margin: 1.5em;
}

.speakers-grid > div > h3 {
    color: #711AFF;
    font-size: 24px;
    font-weight: bold;
    line-height: 2em;
    margin-top: 1em;
    margin-bottom: 0;
}
.speakers-grid > div > div {
    font-size: 16px;
}

/* FAQ Section */
.faq-section {
    margin: 2em 19% 0 19%;
    padding-top: 4em;
    position: relative;
    z-index: 10;
}

@media (max-width: 768px) {
    .faq-section {
        margin: 2em 7% 0 7%;
    }
}

.faq-content {
    position: relative;
}

.faq-content a {
    color: #ffd02b;
    text-decoration: none;
}
.faq-content a:hover {
    border-bottom: 1px solid #ffd02b;
}

/* Footer */
footer {
    font-size: 16px;
    height: 200px;
    margin-top: 5em;
    padding-top: 120px;
    position: relative;
    z-index: 10;
    background: #000000;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0.4) 80%,
        rgba(0, 0, 0, 0) 100%
    );
}

.footer-content  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10%;
    border-top: 1px solid #FFF;
    padding: 0.5em;
    line-height: 1.8em;
}

@media (max-width: 768px) {
    .footer-content  {
        flex-direction: column;
        align-items: center;
        margin-top: -2em;
    }
}

.footer-content a {
    color: #ffd02b;
    text-decoration: none;
}

.footer-content a:hover {
    border-bottom: 1px solid #ffd02b;

}
