<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}Planet Nix{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Planet Nix">
    <meta name="keywords" content="nixos, nix package manager, linux, southern california, pasadena, socal">
    <meta name="author" content="Planet Nix Organizers">
    <meta property="og:title" content="Planet Nix: March 6th-7th, 2025 @ Pasadena, CA">
    <meta property="og:image" content="https://planetnix.com/img/planet-nix-black.png">
    <meta property="og:description" content="A conference for contributors and users of Nix and NixOS.">
    <meta property="og:url" content="https://planetnix.com/">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US:utf-8">
    <meta property="og:site_name" content="Planet Nix">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    {% include 'components/hero.html' %}
    {% include 'components/navigation.html' %}
    {% include 'components/speakers.html' %}
    <div class="content">
        {% block content %}
        {{ section.content | safe }}
        {% endblock %}   
    </div>
  </body>
</html>
