{% extends 'base.html' %} {% block content %}

{% set schedule =
load_data(path="data/schedule.json", format="json") %} {{ page.content | safe }}

<nav class="schedule-navigation">
  <div class="left">
    <h2>
      Schedule
    </h2>
  </div>

  <div class="schedule-navigation-options right">
    <input type="checkbox" id="schedule-show-as-grid" /> &nbsp; 
    <label for="schedule-show-as-grid">Hide descriptions and align to grid</label>
  </div>

  <div class="schedule-navigation-footer">
    <p>
      The schedule is also available as an iCal file. You can download it <a href="https://sessionize.com/api/v2/2xppsysq/view/All"> here.
      </a>
    </p>
  </div>
</nav>


{% for day_content in schedule %}
<div class="schedule-day">
  <div class="schedule-day-header">
    <h2>{{ day_content.date | date(format="%A - %B %eth, %Y") }}</h2>
  </div>
  {% for room in day_content.rooms %}
  <div class="schedule-room">
    <div class="schedule-room-header">
      <h3>{{ room.name }}</h3>
    </div>

    <div class="schedule-room-items">

      {% for session in room.sessions %}
      <div class="schedule-item"
      
        style="grid-row:  time-{{ session.startsAt | date(format="%H%M") }} /  time-{{ session.endsAt | date(format="%H%M") }};"
      >
          <span class="time">
          {{ session.startsAt | date(format="%H:%M") }} - {{ session.endsAt |
            date(format="%H:%M") }}
          </span>
          <h3>{{ session.title }}</h3>
          
          <div class="schedule-item-speakers">
            {% for speaker in session.speakers %}
            <span>{{ speaker.name }}</span>
            {% endfor %}
          </div>
          <p class="schedule-description">{{ session.description }}</p>
      </div>
        
      {% endfor %} 
    </div>
    
  </div>
  {% endfor %} 

</div>
{% endfor %} 

<script>
  const $SchedduleInputToggle = document.getElementById('schedule-show-as-grid');
  const $Body = document.body;

  $SchedduleInputToggle.addEventListener('change', () => {
    if ($SchedduleInputToggle.checked) {
      $Body.classList.add('schedule-as-grid');
    } else {
      $Body.classList.remove('schedule-as-grid');
    }
  });
</script>

{% endblock %}