{% extends 'base.html' %} {% block content %} {% set speakers =
load_data(path="data/speakers-filtered.json", format="json") %} {{ page.content
| safe }} {% for speaker in speakers %}
<div class="speaker-item">
  <div class="speaker-image">
    <img
      src="{{ speaker.profilePicture }}"
      alt="{{ speaker.firstName }} {{ speaker.lastName }}"
    />
  </div>
  <div class="speaker-info">
    <h2 id="{{ speaker.firstName | lower }}-{{ speaker.lastName | lower | replace(from=` `, to=`-`) }}">
      <a href="#{{ speaker.firstName | lower }}-{{ speaker.lastName | lower | replace(from=` `, to=`-`) }}">
      {{ speaker.firstName }} {{ speaker.lastName }}
    </a>
    </h2>
    <p>{{ speaker.bio }}</p>
    <h3>Sessions</h3>
    <ul>
      {% for session in speaker.sessions %}
      <li>{{ session.name }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endfor %} {% endblock %}
