<div class="hero-wrapper">
    <div class="container">
        <figure class="brand">
            <img src="/img/planet-nix-white.svg" alt="Planet Nix" class="logo" width="500">
        </figure>

        <h1 class="hero-title">March 5th-6th, 2026 @ Pasadena, CA</h1>
        <h2 class="hero-subtitle">
          <a href="https://www.socallinuxexpo.org/">
            at the Southern California Linux Expo (Mar 5th - 8th)
          </a>
        </h2>
        {% include 'components/social-bar.html' %}
    </div>
</div>
