<header>
  <nav class="nav-header container">
    <ul>
      <li>
        <a href="/#about">About</a>
      </li>
      <li>
        <a href="/#location">Location</a>
      </li>
      <li
      {% if current_path == '/speakers/' %}
        class="active"
      {% endif %}>
        <a 
        href="/speakers"
        >Speakers</a>
      <li
      {% if current_path == '/schedule/' %}
        class="active"
      {% endif %}>
        <a 
        href="/schedule"
        >Schedule</a>
      </li>
      <li>
        <a href="/#faq">FAQ</a>
      </li>
    </ul>
  </nav>
</header>
