<div class="social-bar">
    <a href="https://bsky.app/profile/planetnix.bsky.social" 
       class="social-icon"
       title="PlanetNix on Bluesky"
       >
        <img src="/img/social-icons/bluesky.svg" alt="PlanetNix on Bluesky">
    </a>
    <a href="https://mastodon.social/@planetnix" 
       class="social-icon"
       title="PlanetNix on Mastodon">
        <img src="/img/social-icons/mastodon.svg" alt="PlanetNix on Mastodon" >
    </a>
    <a href="https://x.com/planetnixconf" 
       class="social-icon"
       title="PlanetNix on X">
        <img src="/img/social-icons/x.svg" alt="@PlanetNix on X" >
    </a>
</div>