<div class="speaker-container">
  <h2 class="speakers-subtitle">
    Featured Speakers
  </h2>
  <div class="speakers">
      <div class="speaker">
        <img src="/img/speakers/kelsey-hightower.jpg" />
        <h3>Kelsey Hightower</h3>
      </div>
      <div class="speaker">
        <img src="/img/speakers/ron-efroni.jpg" />
        <h3>Ron Efroni</h3>
        <p>CEO. Flox</p>
      </div>
      <div class="speaker">
        <img src="/img/speakers/jacek-galowicz.jpg" />
        <h3>Jacek Galowicz</h3>
        <p>Nixcademy Founder</p>
      </div>
      <div class="speaker">
        <img src="/img/speakers/yannik-sander.jpg" />
        <h3>Yannik Sander</h3>
        <p>Software Engineer, Flox</p>
      </div>
      <div class="speaker">
        <img src="/img/speakers/rickard-nilsson.jpg" />
        <h3>Rickard Nilsson</h3>
        <p>Founder of nixbuild.net</p>
      </div>
  </div>
</div>
