<div class="speaker-container">
  <h2 class="speakers-subtitle">
    CFP for PlanetNix 2026 is <a href="https://sessionize.com/planet-nix-2026/">now open!</a>
  </h2>
  <h2 class="speakers-subtitle">
    <a href="https://www.youtube.com/watch?v=1wdj9R4MScE&list=PLh1QjGnfC2eRvFNhhk5O-XcCgOToE7MwL">2025</a> Speakers
  </h2>
  <div class="speakers">
    <div class="speaker">
      <img src="/img/speakers/kelsey-hightower.jpg" />
      <h3>Kelsey Hightower</h3>
    </div>
    <div class="speaker">
      <img src="/img/speakers/ron-efroni.jpg" />
      <h3>Ron Efroni</h3>
      <p>CEO. Flox</p>
    </div>
    <div class="speaker">
      <img src="/img/speakers/jacek-galowicz.jpg" />
      <h3>Jacek Galowicz</h3>
      <p>Nixcademy Founder</p>
    </div>
    <div class="speaker">
      <img src="/img/speakers/tristan-ross.png" />
      <h3>Tristan Ross</h3>
      <p>LLVM team member</p>
    </div>
    <div class="speaker">
      <img src="/img/speakers/yannik-sander.jpg" />
      <h3>Yannik Sander</h3>
      <p>Software Engineer, Flox</p>
    </div>
    <div class="speaker">
      <img src="/img/speakers/rickard-nilsson.jpg" />
      <h3>Rickard Nilsson</h3>
      <p>Founder of nixbuild.net</p>
    </div>
  </div>
</div>
